<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
	{% block title %}
    <title>程序员爱健身 - 程序员可不是宅男, stay young的技术大牛最性感</title>
	{% endblock title %}
	<link rel="shortcut icon" type="img/x-icon" href="/static/img/web.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/index.js"></script>
	{% block script %}
	{% endblock script %}
</head>
<body class="home blog unselectable site-boxed layout2">
	<div id="page" class="hfeed site">
		<div id="mobile-sidebar" class="mobile-sidebar">
			<nav id="mobile-navigation" class="mobile-navigation" role="navigation" aria-label="Main Menu"></nav>
		</div>
		<header id="masthead" class="site-header" role="banner">
			<div class="header-top collapse">
				<div class="container">
					<div class="row">
						<div class="col-4">
							<div class="site-branding">
								<h1 class="site-title"><a href="127.0.0.1:8888" rel="home">程序员爱健身</a></h1>
								<p class="site-description">健身和不健身的区别，完全是两种不同的人生</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main-navbar" class="main-navbar">
				<div class="container">
					<div class="home-link">
						<a href="127.0.0.1:8888" title="程序员爱健身" rel="home"><span class="icon-home"></span></a>
					</div>
					<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Main Menu">
						<ul id="main-menu" class="main-menu">
							<li id="menu-item-2288" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2288">
								<a>健身资讯</a>
								<ul class="sub-menu">
									<li id="menu-item-2295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2295"><a href="/category/cate?s_cate={{ jszs }}">{{ jszs }}</a></li>
									<li id="menu-item-2289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2289"><a href="/category/cate?s_cate={{ jslz }}">{{ jslz }}</a></li>
									<li id="menu-item-3300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3300"><a href="/category/cate?s_cate={{ jsrd }}">{{ jsrd }}</a></li>
									<li id="menu-item-9195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9195"><a href="/category/cate?s_cate={{ jstg }}">{{ jstg }}</a></li>
									<li id="menu-item-2292" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2292"><a href="/category/cate?s_cate={{ jsyy }}">{{ jsyy }}</a></li>
								</ul>
							</li>
							<li id="menu-item-2269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2269">
								<a>健身计划</a>
								<ul class="sub-menu">
									<li id="menu-item-15078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15078"><a href="/category/cate?s_cate={{ 30days }}">{{ 30days }}</a></li>
									<li id="menu-item-2285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2285"><a href="/category/cate?s_cate={{ jzsx }}">{{ jzsx }}</a></li>
									<li id="menu-item-2286" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2286"><a href="/category/cate?s_cate={{ zjzz }}">{{ zjzz }}</a></li>
									<li id="menu-item-2287" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2287"><a href="/category/cate?s_cate={{ jsdk }}">{{ jsdk }}</a></li>
									<li id="menu-item-2284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2284"><a href="/category/cate?s_cate={{ yl }}">{{ yl }}</a></li>
									<li id="menu-item-2340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2340"><a href="/category/cate?s_cate={{ xljh }}">{{ xljh }}</a></li>
								</ul>
							</li>
							<li id="menu-item-2270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2270">
								<a>肌肉锻炼</a>
								<ul class="sub-menu">
									<li id="menu-item-2277" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2277"><a href="/category/cate?s_cate={{ xb }}">{{ xb }}</a></li>
									<li id="menu-item-2278" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2278"><a href="/category/cate?s_cate={{ bb }}">{{ bb }}</a></li>
									<li id="menu-item-2280" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2280"><a href="/category/cate?s_cate={{ tb }}">{{ tb }}</a></li>
									<li id="menu-item-2279" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2279"><a href="/category/cate?s_cate={{ jb }}">{{ jb }}</a></li>
									<li id="menu-item-2281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2281"><a href="/category/cate?s_cate={{ sb }}">{{ sb }}</a></li>
									<li id="menu-item-2282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2282"><a href="/category/cate?s_cate={{ fb }}">{{ fb }}</a></li>
									<li id="menu-item-2283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2283"><a href="/category/cate?s_cate={{ tbu }}">{{ tbu }}</a></li>
								</ul>
							</li>
							<li id="menu-item-2293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2293"><a href="/category/cate?s_cate={{ jsyyzs }}">{{ jsyyzs }}</a></li>
							<li id="menu-item-2291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2291"><a href="/category/cate?s_cate={{ jssp }}">{{ jssp }}</a></li>
							<li id="menu-item-2290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2290"><a href="/category/cate?s_cate={{ jsmn }}">{{ jsmn }}</a></li>
							<li id="menu-item-2294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2294"><a href="/category/cate?s_cate={{ jrn }}">{{ jrn }}</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="content" class="site-content">
			<div class="container">
				<div id="primary" class="content-area">
					<main id="main" class="site-main" role="main">
						{% block article %}
						<div class="posts-loop">
							{% for type in contacts %}
							<article id="post" class="list-post post type-post status-publish format-standard has-post-thumbnail hentry category-30days tag-1988 tag-313">
								<figure class="entry-thumbnail">
									<a href="/details/detail?date={{ type.date }}&title={{ type.title }}" title="{{ type.title }}">
										<img width="360" height="360" src="{{ type.img }}" class="attachment-medium size-medium wp-post-image" alt="" srcset="{{ type.img }} 360w,{{ type.img }} 150w" sizes="(max-width: 360px) 100vw, 360px" />
										<span class="format-icon"></span>
									</a>
								</figure>
								<header class="entry-header">
									<div class="entry-meta">
										<span class="posted-on">
											<span class="screen-reader-text">Posted on</span>
											<a rel="bookmark">
												<time class="entry-date published updated" datetime="{{ type.date }}">{{ type.date }}</time>
											</a>
										</span>
										{% for cate in type.category %}
										<span class="category">
											<a rel="category tag">{{ cate }}</a>
										</span>
										{% endfor %}
									</div>
									<h2 class="entry-title">
										<a href="/details/detail?date={{ type.date }}&title={{ type.title }}" rel="bookmark">{{ type.title }}</a>
									</h2>
								</header><!-- .entry-header -->
								<div class="entry-summary">
									<p>
	        							{{ type.content | first }}
										<a class="more-link" href="/details/detail?date={{ type.date }}&title={{ type.title }}" title="{{ type.title }}">Read more					</a>
									</p>
								</div>
							</article>
							{% endfor %}

						</div>
						{% endblock article %}
						{% block page %}
						<nav class="navigation pagination" role="navigation">
							<div class="nav-links">
							    {% if pageBlogs.has_previous %}
									<a class="prev page-numbers" href="?page={{ contacts.previous_page_number }}">←</a>
								{% endif %}
								{% for pindex in page_range %}
									{% if pindex == pageBlogs.number %}
                						<span aria-current="page" class="page-numbers current">{{ pindex }}</span>
									{% else %}
								 		{% if pindex == '...' %}
                							<span class="page-numbers dots">{{ pindex }}</span>
										{% else %}
											<a class='page-numbers' href='?page={{ pindex }}'>{{ pindex }}</a>
										{% endif %}
									{% endif %}
								{% endfor %}
								{% if pageBlogs.has_next %}
									<a class="next page-numbers" href="?page={{ contacts.next_page_number }}">&rarr;</a>
								{% endif %}

							</div>
						</nav>
						{% endblock page %}
					</main>
				</div>
				<div id="secondary" class="sidebar widget-area  widget-minimal" role="complementary">
					<aside id="search-4" class="widget widget_search">
						<form role="search" method="get" class="search-form" action="/search">
							<label>
								<span class="screen-reader-text">Search for:</span>
								<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
							</label>
							<button type="submit" class="search-submit">
								<span class="sli icon-magnifier">
								</span> <span class="screen-reader-text">Search</span>
							</button>
						</form>
					</aside>
				</div>
			</div>
</body>
</html>