<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
	{% block title %}
    <title>程序员爱健身 - 程序员可不是宅男, stay young的技术大牛最性感</title>
	{% endblock title %}
	<link rel="shortcut icon" type="img/x-icon" href="/static/img/web.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/index.js"></script>
	{% block script %}
	{% endblock script %}
</head>
<body class="home blog unselectable site-boxed layout2">
	<div id="page" class="hfeed site">
		<div id="mobile-sidebar" class="mobile-sidebar">
			<nav id="mobile-navigation" class="mobile-navigation" role="navigation" aria-label="Main Menu"></nav>
		</div>
		<header id="masthead" class="site-header" role="banner">
			<div class="header-top collapse">
				<div class="container">
					<div class="row">
						<div class="col-4">
							<div class="site-branding">
								<h1 class="site-title"><a href="http://www.love-fitness.com.cn/" rel="home">程序员爱健身</a></h1>
								<p class="site-description">健身和不健身的区别，完全是两种不同的人生</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main-navbar" class="main-navbar">
				<div class="container">
					<div class="home-link">
						<a href="http://www.love-fitness.com.cn/" title="程序员爱健身" rel="home"><span class="icon-home"></span></a>
					</div>
					<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Main Menu">
						<ul id="main-menu" class="main-menu">
							<li id="menu-item-2288" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2288">
								<a>健身资讯</a>
								<ul class="sub-menu">
									<li id="menu-item-2295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2295"><a href="">健身知识</a></li>
									<li id="menu-item-2289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2289"><a href="">健身励志</a></li>
									<li id="menu-item-3300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3300"><a href="">健身热点</a></li>
									<li id="menu-item-9195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9195"><a href="">健身投稿</a></li>
									<li id="menu-item-2292" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2292"><a href="">健身音乐</a></li>
								</ul>
							</li>
							<li id="menu-item-2269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2269">
								<a>健身计划</a>
								<ul class="sub-menu">
									<li id="menu-item-15078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15078"><a href="">30天挑战计划</a></li>
									<li id="menu-item-2285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2285"><a href="">减脂塑形</a></li>
									<li id="menu-item-2286" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2286"><a href="">增肌增重</a></li>
									<li id="menu-item-2287" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2287"><a href="">健身打卡</a></li>
									<li id="menu-item-2284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2284"><a href="">哑铃锻炼</a></li>
									<li id="menu-item-2340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2340"><a href="">训练计划</a></li>
								</ul>
							</li>
							<li id="menu-item-2270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2270">
								<a>肌肉锻炼</a>
								<ul class="sub-menu">
									<li id="menu-item-2277" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2277"><a href="">胸部</a></li>
									<li id="menu-item-2278" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2278"><a href="">背部</a></li>
									<li id="menu-item-2280" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2280"><a href="">腿部</a></li>
									<li id="menu-item-2279" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2279"><a href="">肩部</a></li>
									<li id="menu-item-2281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2281"><a href="">手臂</a></li>
									<li id="menu-item-2282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2282"><a href="">腹部</a></li>
									<li id="menu-item-2283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2283"><a href="">臀部</a></li>
								</ul>
							</li>
							<li id="menu-item-2293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2293"><a href="">健身营养</a></li>
							<li id="menu-item-2291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2291"><a href="">健身视频</a></li>
							<li id="menu-item-2290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2290"><a href="">健身美女</a></li>
							<li id="menu-item-2294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2294"><a href="">肌肉男</a></li>
							<li id="menu-item-3460" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3460"><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="content" class="site-content">
			<div class="container">
				<div id="primary" class="content-area">
					<main id="main" class="site-main" role="main">
						{% block article %}
						<div class="posts-loop">
							{% for type in contacts %}
							<article id="post" class="list-post post type-post status-publish format-standard has-post-thumbnail hentry category-30days tag-1988 tag-313">
								<figure class="entry-thumbnail">
									<a href="/details/detail?date={{ type.date }}&title={{ type.title }}" title="{{ type.title }}">
										<img width="600" height="600" src="{{ type.img }}" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 600px) 100vw, 600px" />
										<span class="format-icon"></span>
									</a>
								</figure>
								<header class="entry-header">
									<div class="entry-meta">
										<span class="posted-on">
											<span class="screen-reader-text">Posted on</span>
											<a href="" rel="bookmark">
												<time class="entry-date published updated" datetime="{{ type.date }}">{{ type.date }}</time>
											</a>
										</span>
										<span class="category">
											<a href="http://www.love-fitness.com.cn/category/jsjh/30days/" rel="category tag">{{ type.category }}</a>
										</span>
									</div>
									<h2 class="entry-title">
										<a href="/details/detail?date={{ type.date }}&title={{ type.title }}" rel="bookmark">{{ type.title }}</a>
									</h2>
								</header><!-- .entry-header -->
								<div class="entry-summary">
									<p>
	        							{{ type.content | first }}
										<a class="more-link" href="" title="{{ type.title }}">Read more					</a>
									</p>
								</div>
							</article>
							{% endfor %}

						</div>
						{% endblock article %}
						{% block page %}
						<nav class="navigation pagination" role="navigation">
							<div class="nav-links">
								{% if pageNum == '1' %}
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>
									<a class='page-numbers' href='?page={{ pageNum|add:1 }}'>{{ pageNum|add:1 }}</a>
									<a class='page-numbers' href='?page={{ pageNum|add:2 }}'>{{ pageNum|add:2 }}</a>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ maxNum }}'>{{ maxNum }}</a>
									<a class="next page-numbers" href="?page={{ pageNum|add:1 }}">&rarr;</a>

								{% elif pageNum == '2' %}
									<a class="prev page-numbers" href="?page={{ pageNum|add:-1 }}">←</a>
									<a class='page-numbers' href='?page={{ pageNum|add:-1 }}'>{{ pageNum|add:-1 }}</a>
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>
									<a class='page-numbers' href='?page={{ pageNum|add:1 }}'>{{ pageNum|add:1 }}</a>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ maxNum }}'>{{ maxNum }}</a>
									<a class="next page-numbers" href="?page={{ pageNum|add:1 }}">&rarr;</a>

								{% elif pageNum == '3' %}
									<a class="prev page-numbers" href="?page={{ pageNum|add:-1 }}">←</a>
									<a class='page-numbers' href='?page={{ pageNum|add:-2 }}'>{{ pageNum|add:-2 }}</a>
									<a class='page-numbers' href='?page={{ pageNum|add:-1 }}'>{{ pageNum|add:-1 }}</a>
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ maxNum }}'>{{ maxNum }}</a>
									<a class="next page-numbers" href="?page={{ pageNum|add:1 }}">&rarr;</a>

								{% elif pageNum == maxNum|add:-2|stringformat:"02i" %}
									<a class="prev page-numbers" href="?page={{ pageNum|add:-1 }}">←</a>
									<a class='page-numbers' href='?page=1'>1</a>
									<span class="page-numbers dots">&hellip;</span>
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>
									<a class='page-numbers' href='?page={{ pageNum|add:1 }}'>{{ pageNum|add:1 }}</a>
									<a class='page-numbers' href='?page={{ pageNum|add:2 }}'>{{ pageNum|add:2 }}</a>
									<a class="next page-numbers" href="?page={{ pageNum|add:1 }}">&rarr;</a>

								{% elif pageNum == maxNum|add:-1|stringformat:"02i" %}
									<a class="prev page-numbers" href="?page={{ pageNum|add:-1 }}">←</a>
									<a class='page-numbers' href='?page=1'>1</a>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ pageNum|add:-1 }}'>{{ pageNum|add:-1 }}</a>
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>
									<a class='page-numbers' href='?page={{ pageNum|add:1 }}'>{{ pageNum|add:1 }}</a>
									<a class="next page-numbers" href="?page={{ pageNum|add:1 }}">&rarr;</a>

								{% elif pageNum == maxNum|stringformat:"02i" %}
									<a class="prev page-numbers" href="?page={{ pageNum|add:-1 }}">←</a>
									<a class='page-numbers' href='?page=1'>1</a>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ pageNum|add:-2 }}'>{{ pageNum|add:-2 }}</a>
									<a class='page-numbers' href='?page={{ pageNum|add:-1 }}'>{{ pageNum|add:-1 }}</a>
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>

								{% else %}
									<a class="prev page-numbers" href="?page={{ pageNum|add:-1 }}">←</a>
									<a class='page-numbers' href='?page=1'>1</a>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ pageNum|add:-1 }}'>{{ pageNum|add:-1 }}</a>
									<span aria-current="page" class="page-numbers current">{{ pageNum }}</span>
									<a class='page-numbers' href='?page={{ pageNum|add:1 }}'>{{ pageNum|add:1 }}</a>
									<span class="page-numbers dots">&hellip;</span>
									<a class='page-numbers' href='?page={{ maxNum }}'>{{ maxNum }}</a>
									<a class="next page-numbers" href="?page={{ pageNum|add:1 }}">&rarr;</a>

								{% endif %}
							</div>
						</nav>
						{% endblock page %}
					</main>
				</div>
				<div id="secondary" class="sidebar widget-area  widget-minimal" role="complementary">
					<aside id="search-4" class="widget widget_search">
						<form role="search" method="get" class="search-form" action="http://www.love-fitness.com.cn/">
							<label>
								<span class="screen-reader-text">Search for:</span>
								<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
							</label>
							<button type="submit" class="search-submit">
								<span class="sli icon-magnifier">
								</span> <span class="screen-reader-text">Search</span>
							</button>
						</form>
					</aside>
				</div>
			</div>
</body>
</html>